{% extends 'base.html'%}

{% block headtitle %}Eventos{%endblock%}
{% block title %}Eventos{%endblock%}

{% block content%}
<div class="container-fluid">
    {% for ev in object_list %}
    <div class="row mb-3">
        {% if ev.poster %}
        <div class="col-sm-6 order-{% cycle '1' '2' %}">
            <a href="{% url 'prod-event-detail' slug=ev.slug %}">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ ev.poster.get_carousel_url }}" alt="{{ ev.title }}">
            </a>
        </div>
        {% endif %}
        <div class="pt-3 col-sm-{% if ev.poster %}6{% else %}12{% endif %} order-{% cycle '2' '1' %}">
            {% if ev.get_parent_title|length %}<h3 class="text-muted">{{ ev.get_parent_title }}</h3>{% endif %}
            <h4>{{ ev.date_time|date:"SHORT_DATETIME_FORMAT" }}</h4>
            <h2><a href="{% url 'prod-event-detail' slug=ev.slug %}">{{ ev.title }}</a></h2>
            {% firstof ev.leading|safe ev.synopsys|truncatewords_html:"100"|safe %}
            <a class="btn btn-sm btn-primary" href="{% url 'prod-event-detail' slug=ev.slug %}"> . . . </a>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}